@model  ICollection<SSLS.Domain.Concrete.Borrow>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/BookStyle.css" rel="stylesheet" />
<script type="text/javascript">

</script>

<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>书名</th>
            <th>
                归还日期
            </th>
            <th>罚金</th>
            <th>
                罚金状态
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<input type="checkbox" class="checkbox1" />*@
                </td>
                <td>@item.Book.Name</td>
                <td id="borrowdate">
                    @item.ReturnDate
                </td>
                <td>

                </td>
                <td>
                    @Html.ActionLink("缴纳罚金", "PayFine", null, new { @class = "btn btn-primary confirm", @id = @item.BookId })
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>

            <td id="all"></td>
        </tr>
    </tfoot>
</table>