<div class="navbar-right">
    @Html.ActionLink("还书", "Return", "Cart",
                new { @class = "btn btn-default navbar-btn" }
    )
    @Html.ActionLink("借阅历史", "History", "Cart",
                new { @class = "btn btn-default navbar-btn" }
    )
</div>